@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {@apply text-4xl;}
    h2 {@apply text-2xl;}
    h3 {@apply text-xl;}
    h1, h2, h3, h4, h5, h6 {
        font-family: Georgia, "Times New Roman", serif;
        color: #f5e6e7;
    }
    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin-top: 0;
    }
    h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
        margin-top: 40px;
    }
    h1, h2 {
        font-weight: 400;
        margin-bottom: 20px;
    }
    blockquote {
        margin-top: 30px;
        margin-bottom: 30px;
        border-left: 4px solid #f5e6e7;
        padding-left: 1em;
        margin-left: 2em;
        margin-right: 3em;
        color: #d8bbbe;
        font-style: italic;
    }
    p {
        color: #d8bbbe;
        text-shadow: #3e2427 0 1px 0;
        margin-bottom: 15px;
        line-height: 28px;
    }

    a {
        color: #fff4a8;
        text-decoration: underline;
    }

    ul, ol {
        margin-left: 20px;
    }
    ul {
        @apply list-disc;
    }
    li {
        color: #d8bbbe;
        @apply list-inside;
    }
    ol {
        @apply list-decimal;
    }

    table {
        color: #d8bbbe;
        @apply table-auto;
        @apply w-3/4;
        @apply text-left;
        @apply border-collapse;
        @apply m-auto;
        @apply my-8;
    }

    table caption {
        @apply text-2xl;
        @apply font-bold;
        @apply text-center;
        @apply my-4;
    }

    table thead {
        @apply border-b-2 border-[#d8bbbe];
    }
}
